<%= form_for :session, url: login_path, html: { class: 'form-signin' } do |f| %>
  <h2 class="form-signin-heading text-center">Log in</h2>

  <%= render 'shared/form_field/email_field', f: f %>

  <%= render 'shared/form_field/password_field',
             f: f, input: :password,
             hold_content: 'Password (6 characters at least)' %>

  <%= link_to '(forgot password?)', new_password_reset_path %>

  <%= f.label :remember_me, class: 'checkbox' do %>
    <%= f.check_box :remember_me %>
    <span>Remember me</span>
  <% end %>

  <%= f.button 'Log in',
               class: 'btn btn-primary btn-block',
               data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Logging in..." } %>
<% end %>
