<% provide(:title, 'Password reset') %>

<%= form_for @user, url: password_reset_path(params[:id]), html: { class: 'form-password-reset' } do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <h2 class="form-password-reset-heading text-center">Forgot password</h2>

  <%= hidden_field_tag :email, @user.email %>

  <%= render 'shared/password_field',
             f: f, param: :password,
             hold_content: 'Password (6 characters at least)' %>

  <%= render 'shared/password_field',
             f: f, param: :password_confirmation,
             hold_content: 'Password confirmation' %>

  <%= f.button 'Update password',
               class: 'btn btn-primary btn-block',
               data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Updating..." } %>
<% end %>
