<% provide(:title, @user.username) %>

<div id="dashboard-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-fixed">
      <ul class="nav nav-sidebar">
        <li class="text-center user-name">
          <%= @user.username %>
          (<%= mail_to @user.email %>)
        </li>
        <li class="divider"></li>
        <li><%= link_to 'placehlder', '#' %></li>
        <li><%= link_to 'placelder', '#' %></li>
        <li><%= link_to 'plaolder', '#' %></li>
        <li><%= link_to 'plolder', '#' %></li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 main">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in</td>
              <td>libero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
