<div class="container-fluid">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-content" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'latest', links_path(order: 'latest') %></li>
          <li><%= link_to 'high votes', links_path(order: 'top') %></li>
          <li>
              <%= form_tag(search_path, method: :get, class: 'navbar-form form-inline') do %>
              <div class="form-group">
                <%= text_field_tag(:q, nil, placeholder: 'search...', class: 'form-control') %>
              </div>
              <div class="form-group">
                <%= button_tag('Search',
                               class: 'btn btn-info',
                               data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Searching..." }) %>
              </div>
            <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div id="links-container" class="container">
    <%= render 'links/link_list' %>
    <%= will_paginate @links %>
  </div>
</div> <!-- /container -->
