<div class="row link-row">
  <div class="col rank-field">
    <ul>
      <li>
        <%= link_to vote_link_path(link, up: '1'), id: "vote-up-link-#{link.id}", class: if_voted(link: link, up: 1), method: :post do %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
      </li>
      <li><%= link.rank %></li>
      <li>
        <%= link_to vote_link_path(link, up: '-1'), id: "vote-down-link-#{link.id}", class: if_voted(link: link, up: -1), method: :post do %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="image">
    <%= image_tag(link.url, width: '80', alt: "image for link") %>
  </div>
  <div class="col" id="link-details">
    <ul>
      <li><%= link_to link.title, link, class: 'link-title' %>
        <% if link.user == current_user %> -
          <%= link_to ' (Delete)', link_path(link), method: :delete, class: 'delete-link', data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>
      <li>
        <span class="time">
         Submitted
         <%= timeago_tag link.created_at, nojs: true, limit: 10.days.ago %>
         by
        </span>
        <%= link_to link.user.username, link.user, class: 'user-name' %>
      </li>
      <li><%= link_to pluralize(link.comments_count, 'Comment'), link_comments_path(link), class: 'link-comment' %></li>
    </ul>
  </div>
</div>
