<%= form_for @link, url: links_path, html: { class: 'link-form' } do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="form-group">
    <%= f.text_field :url, class: 'form-control', placeholder: "image url" %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

