<li>
  <div class="row link-row"  id="link-<%= link.id %>">
    <div class="col rank-field">
      <ul>
        <li>
          <%= link_to vote_link_path(link, up: '1'),
                      id: "vote-up-link-#{link.id}",
                      class: if_voted(link: link, up: 1),
                      method: :post,
                      data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% end %>
        </li>
        <li><%= link.rank %></li>
        <li>
          <%= link_to vote_link_path(link, up: '-1'),
                      id: "vote-down-link-#{link.id}",
                      class: if_voted(link: link, up: -1),
                      method: :post,
                      data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="image">
      <%= image_tag(link.url, width: '80', alt: "image for link") %>
    </div>
    <div class="col">
      <ul>
        <li><%= link_to link.title, link, class: 'link-title' %>
          <% if link.user == current_user %>
            <%= link_to edit_link_path(link) do %>
              <i class="fa fa-edit"></i>
            <% end %>

            <%= link_to link_path(link), method: :delete, class: 'delete-link', data: { confirm: "Are you sure delete it?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <span class="time">
           Submitted
           <%= timeago_tag link.created_at, nojs: true, limit: 5.days.ago %>
           by
          </span>
          <%= link_to link.user.username, link.user, class: 'user-name' %>
        </li>
        <li>
          <% if @collapse_comments %>
            <%= link_to '#:-)', class: 'link-comment', data: { toggle: 'collapse', target: "#comments-of-link-#{link.id}" } do %>
            <i class="fa fa-comments-o"></i> <%= pluralize(link.comments_count, 'Comment') %>
            <% end %>
          <% else %>
            <div class="link-comment">
              <i class="fa fa-comments-o"></i> <%= pluralize(link.comments_count, 'Comment') %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% if @collapse_comments %>
    <div id="comments-of-link-<%= link.id %>" class="collapse">
      <ul class="comment-list">
        <%= render partial: 'comments/comment', collection: link.comments %>
      </ul>
    </div>
  <% end %>
</li>
